@{
    ViewData["Title"] = "Arithmetics";
}
@await Component.InvokeAsync("HomeNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <p>
        The positive and negative integers, fractions, and zero together are called the rational numbers.
    </p>
</div>