@{
    ViewData["Title"] = "Biology";
}

@await Component.InvokeAsync("HomeNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Message"]</h2>
    <h3>Science</h3>
    <p>
        Biology is a natural science concerned with the study of life and living organisms, including their structure,
        function, growth, evolution, distribution, identification and taxonomy.[1] Modern biology is a vast and eclectic field,
        composed of many branches and subdisciplines.[clarification needed] However, despite the broad scope of biology, there are certain general and unifying concept
        within it that govern all study and research, consolidating it into single, coherent field. In general, biology recognizes the cell as the basic unit of life, genes as the basic unit of heredity,
        and evolution as the engine that propels the synthesis and creation of new species. It is als
        understood today that all the organisms survive by consuming and transforming energy and by regulating their internal environment to maintain a stable and vital condition known as homeostasis.
</div>