@{
    ViewData["Title"] = "Brazil";
}
@await Component.InvokeAsync("HomeNavbar")

<div class="div_wrapper color_white">
    <h3>@ViewData["Message"]</h3>
    <h3>Abstract</h3>
    <p>
        Brazilian literature is the literature written in the Portuguese language by Brazilians or in Brazil,
        including works written prior to the country’s independence in 1822. Throughout its early years, 
        literature from Brazil followed the literary trends of Portugal, whereas gradually shifting to a different and authentic writing style in the course of the 19th and 20th centuries,
        in the search for truly Brazilian themes and use of the Portuguese language. <br />
        Portuguese is a Romance dialect and the sole official language of Brazil. Lyrically, the poet Olavo Bilac, named it " (...) desconhecida e obscura./ Tuba de alto clangor, lira singela,/ Que tens o trom e o silvo da procela,/ E o arrolo da saudade e da ternura! ",[1] which roughly translates as "(...) unknown and obscure,/ Tuba of high blare, delicate lyre,/ That holds the frill and the hiss of the tempest/ And the singing of the saudade and of the tenderness!"
    </p>
</div>