@{
    ViewData["Title"] = "Business History";
}
@await Component.InvokeAsync("HomeNavbar")
<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <p>
        A business (also known as an enterprise, a company or a firm) is an organizational entity involved in the provision of goods and
        services to consumers.need quotation to verify Businesses as a form of economic activity are prevalent in capitalist economies, 
        where most of them are privately owned and provide goods and services to customers in exchange for other goods, services, or money.
        Businesses may also be social non-profit enterprises or state-owned public enterprises charged by governments with specific
        social and economic objectives. A business owned by multiple individuals may form as an incorporated company or jointly organise as a partnership. 
        Countries have different laws that may ascribe different rights to the various business entities.
        <br />
        The word "business" can refer to a particular organization or to an entire market sector (for example: "the music business") or to the sum of all economic 
        activity ("the business sector"). Compound forms such as "agribusiness" represent subsets of the concept's broader meaning, which encompasses all activity by suppliers of goods and services.
        <br />
        Businesses aim for their sales to exceed their expenditures, resulting in a profit or gain or surplus.<br />
    </p>
</div>
