@{
    ViewData["Title"] = "Chemistry";
}
@await Component.InvokeAsync("HomeNavbar")

<div class="div_wrapper color_white">
    <h2>@ViewData["Message"]</h2>
    <h3>Science</h3>
    <p>
        Chemistry is a branch of physical science that studies the composition, structure, properties and change of matter.
        Chemistry includes topics such as the properties of individual atoms, how atoms form chemical bonds to create chemical compounds,
        the interactions of substances through intermolecular forces that give matter its general properties, and the interactions between substances through chemical reactions to form different substances.
        <br />
        Chemistry is sometimes called the central science because it bridges other natural sciences, including physics, geology and biology.
        For the differences between chemistry and physics see comparison of chemistry and physics.
    </p>
</div>