@{
    ViewData["Title"] = "Computer Architecture";
}
@await Component.InvokeAsync("HomeNavbar")


<div class="div_wrapper color_white">
<h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <p>
        In computer engineering, computer architecture is a set of rules and methods that describe the functionality, organization, and implementation of computer systems. Some definitions of architecture define it as describing the capabilities and programming model of a computer but not a particular implementation.
        In other definitions computer architecture involves instruction set architecture design, microarchitecture design, logic design, and implementation.
    </p>
</div>

