@{
    ViewData["Title"] = "Corporative";
}
@await Component.InvokeAsync("HomeNavbar")

<div class="div_wrapper color_white">
    <h3>@ViewData["Message"]</h3>
    <h3>History</h3>
    <p>
        United States corporate law regulates the governance, finance and power of corporations in US law. Every state and territory has its own basic corporate code,
        while federal law creates minimum standards for trade in company shares and governance rights, found mostly in the Securities Act of 1933 and the Securities and Exchange Act of 1934,
        as amended by laws like the Sarbanes-Oxley Act of 2002 and the Dodd-Frank Act of 2010.
        The US Constitution was interpreted by the US Supreme Court to allow corporations to incorporate in the state of their choice, regardless of where their headquarters are.
        Over the 20th century, most major corporations incorporated under the Delaware General Corporation Law, which offered lower corporate taxes, fewer shareholder rights against directors,
        and developed a specialized court and legal profession. Nevada has done the same.
        Twenty-four states follow the Model Business Corporation Act,[1] while New York and California are important due to their size.
    </p>
</div>