@{
    ViewData["Title"] = "Differentiation";
}
@await Component.InvokeAsync("HomeNavbar")
<div class="div_wrapper color_white">
    <h2>@ViewData["Message"]</h2>
    <h3>Abstract</h3>
    <p>
        The differential quotient of a function y = f(x) at x 0 is equal to limΔx→0f(x0+Δx)−f(x0)ΔxlimΔx→0⁡f(x0+Δx)−f(x0)Δx if this limit exists and is finite.
        The derivative function of a function y = f(x) with respect to the variable x is another function of x denoted by the symbols y′,y˙,Dy,dydx,f′(x),Df(x)y′,y˙,Dy,dydx,f′(x),Df(x), or df(x)dxdf(x)dx,
        and its value for every x is equal to the limit of the quotient of the increment of the function Δy and the corresponding increment Δx for Δx → 0, if this limit exists.
    </p>
</div>
