@{
    ViewData["Title"] = "Economics";
}
@await Component.InvokeAsync("HomeNavbar")
<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <p>
        Economics focuses on the behaviour and interactions of economic agents and how economies work. Consistent with this focus, primary textbooks often distinguish 
        between microeconomics and macroeconomics. Microeconomics examines the behaviour of basic elements in the economy, including individual agents and markets,
        their interactions, and the outcomes of interactions. Individual agents may include, for example, households, firms, buyers, and sellers. Macroeconomics
        analyzes the entire economy (meaning aggregated production, consumption, savings, and investment) and issues affecting it, including unemployment of resources 
        (labour, capital, and land), inflation, economic growth, and the public policies that address these issues (monetary, fiscal, and other policies).
        <br />
        Other broad distinctions within economics include those between positive economics, describing "what is",
        and normative economics, advocating "what ought to be"; between economic theory and applied economics; between rational
        and behavioural economics; and between mainstream economics and heterodox economics/
    </p>
</div>
