@{
    ViewData["Title"] = "French";
}

@await Component.InvokeAsync("HomeNavbar")

<div class="div_wrapper color_white">
    <h3>@ViewData["Message"]</h3>
    <h3>Abstract</h3>
    <p>
        French literature is, generally speaking, literature written in the French language, particularly by citizens of France;
        it may also refer to literature written by people living in France who speak traditional languages of France other than French. Literature written in French language,
        by citizens of other nations such as Belgium, Switzerland, Canada, Senegal, Algeria, Morocco, etc. is referred to as Francophone literature. As of 2006,
        French writers have been awarded more Nobel Prizes in Literature than novelists, poets and essayists of any other country. France itself ranks first in the list of Nobel Prizes in literature by country.
        <br />
        French literature has been for French people an object of national pride for centuries, and it has been one of the most influential components of the literature of Europe.[1][2]
    </p>
</div>