@{
    ViewData["Title"] = "Functions";
}

@await Component.InvokeAsync("HomeNavbar")
<div class="div_wrapper color_white">
    <h3>@ViewData["Message"]</h3>
    <h3>Abstract</h3>
    <p>
        If x and y are two variable quantities, and if there is a rule which assigns a unique value of y to a given value of x, then y is called a function of x, using the notation y = f(x).
        The variable x is called the independent variable or the argument of the function y. The values of x, to which a value of y is assigned, form the domain D of the function f(x). 
        The variable y is called the dependent variable; the values of y form the range W of the function f(x). Functions can be represented by the points (x, y) as curves, or graphs of the function.
    </p>
</div>
