@{
    ViewData["Title"] = "Geometry";
}

@await Component.InvokeAsync("HomeNavbar")

<div class="div_wrapper color_white">
    <h3>@ViewData["Message"]</h3>
    <h3>Abstract</h3>
    <p>
        Points and straight lines are not defined in today’s mathematics. The relations between them are determined only by axioms.
        The line is graphically imaginable as a trace of a point moving in a plane along the shortest route between two different points without changing its direction.
    </p>
</div>