@{
    ViewData["Title"] = "Integral Calculus";
}

@await Component.InvokeAsync("HomeNavbar")
<div class="div_wrapper color_white">
    <h3>@ViewData["Message"]</h3>
    <h3>Abstract</h3>
    <p>
        Integral Calculus and Indefinite Integrals Integration represents the inverse operation of differentiation in the following sense:
        While differentiation calculates the derivative function f′(x) of a given function f(x), integration determines a function whose derivative f′(x) is previously given.
        This process does not have a unique result, so it leads to the notion of an indefinite integral.
    </p>
</div>
