@{
    ViewData["Title"] = "Italian";
}

@await Component.InvokeAsync("HomeNavbar")

<div class="div_wrapper color_white">
    <h3>@ViewData["Message"]</h3>
    <h3>Abstract</h3>
    <p>
        Italian literature is written in the Italian language, particularly within Italy.
        It may also refer to literature written by Italians or in Italy in other languages spoken in Italy, often languages that are closely related to modern Italian.
        An early example of Italian literature is the tradition of vernacular lyric poetry performed in Occitan, which reached Italy by the end of the 12th century.
        In 1230, the Sicilian School is notable for being the first style in standard Italian. Dante, one of the greatest of Italian poets, is notable for his Divina Commedia. 
        Petrarch did classical research and wrote lyric poetry.
        Renaissance humanism developed during the 14th and the beginning of the 15th centuries.
    </p>
</div>