@{
    ViewData["Title"] = "Manuscript";
}

@await Component.InvokeAsync("HomeNavbar")

<div class="div_wrapper color_white">
    <h3>@ViewData["Message"]</h3>
    <h3>History</h3>
    <p>
        The collection of manuscripts and local archives in the University Library was encouraged initially by G.E. Flack, the first College Librarian.
        References in minutes of the University Council from the 1930s refer to the University Library's accession of significant gifts and deposits of archival materials,
        a process which accelerated after the war. The first archivist was appointed in 1948,
        and a separate Department of Manuscripts was established within the University Library in 1958 under the management of a newly appointed Keeper of the Manuscripts.
        <br />
        Subsequent developments have added conservation facilities. 
        With the move into new library premises in 1973 (the Hallward Library) the Department acquired purpose-built accommodation and facilities which supported a steady expansion in its holdings and activities.
    </p>
</div>