@{
    ViewData["Title"] = "Market Enviroment";
}
@await Component.InvokeAsync("HomeNavbar")
<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <p>
        The market environment is a marketing term and refers to factors and forces that affect a firm's ability to build and maintain successful relationships with customers. Three levels of the environment are 3:
        <br />
        <ul>
            <li>Micro (internal) environment – small forces within the company that affect its ability to serve its customers.</li>
            <li>Meso environment – the industry in which a company operates and the industry's market(s).</li>
            <li>Macro (national) environment – larger societal forces that affect the microenvironment.</li>
        </ul>
    </p>
</div>
