@{
    ViewData["Title"] = "Securities";
}

@await Component.InvokeAsync("HomeNavbar")

<div class="div_wrapper color_white">
    <h3>@ViewData["Message"]</h3>
    <h3>History</h3>
    <p>
        Prior to the enactment of the federal securities laws and the creation of the SEC, there existed so-called blue sky laws. 
        They were enacted and enforced at the state level, and regulated the offering and sale of securities to protect the public from fraud. 
        Though the specific provisions of these laws varied among states, they all required the registration of all securities offerings and sales, as well as of every U.S. stockbroker and brokerage firm.[4]

        However, these blue sky laws were generally found to be ineffective. 
        For example, the Investment Bankers Association told its members as early as 1915 that they could "ignore" blue sky laws by making securities offerings across state lines through the mail.
        After holding hearings on abuses on interstate frauds (commonly known as the Pecora Commission), Congress passed the Securities Act of 1933 (15 U.S.C. § 77a), 
        which regulates interstate sales of securities (original issues) at the federal level.
        The subsequent Securities Exchange Act of 1934 (15 U.S.C. § 78d) regulates sales of securities in the secondary market.
        Section 4 of the 1934 act created the U.S. Securities and Exchange Commission to enforce the federal securities laws;
        both laws are considered parts of Franklin D. Roosevelt's New Deal raft of legislation.
    </p>
</div>