@{
    ViewData["Title"] = "Support";
}
@await Component.InvokeAsync("ServicesNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <div>
        <strong>Library Instruction</strong>

        <p>
            Specialized sessions on how the library can assist in research is available for agencies or departments. Library instruction sessions are usually held in our training room and cover
            the library catalog, research databases, and web resources. Sessions can be tailored to the needs of each agency or department.
            Librarians are also available to visit your site for a guest session or to develop an online research guide (LibGuide) for your needs. Contact References Services to make arrangements.
        </p>

        <strong>Research Guides</strong>

        <p>
            Librarians have developed a collection of online research guides that focus on particular subject areas.
            The guides help researchers of all ages find academic sources for papers and projects. For a complete list, visit the Research Guides site.
            Contact Reference Services to request a new guide.
        </p>
    </div>
</div>

