@{
    ViewData["Title"] = "Support";
}
@await Component.InvokeAsync("ServicesNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
        <p>
            State Library Services accepts online library card registration forms from West Virginia state employees.  To access the form, click on the link above.
        </p>
 </div>

