@{
    ViewData["Title"] = "Collections";
}
@await Component.InvokeAsync("ServicesNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>      
    <p>
        State Library Services is a federal document depository library. Library collections also include non-fiction, reference, and library science materials.
        <br />
        Additionally, the library holds a wide array of state newspapers and subscriptions to several online databases. Click on the collections link above for more information.
    </p>     
</div>

