@{
    ViewData["Title"] = "Compliance";
}
@await Component.InvokeAsync("ServicesNavbar")

<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <p>
        <ul>
            <li>Frequently Asked Questions About the Bibliostat Report, a.k.a., the Annual Report</li>
            <li>Public Library Reporting Schedule</li>
            <li>Checklist for Service Centers in meeting AR Regulations</li>
        </ul>                                                                                    
    </p>
</div>

