@{
    ViewData["Title"] = "Continuing Education (CE)";
}
@await Component.InvokeAsync("ServicesNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <p>
        <ul>
            <li>Continuing Education Overview  -- Includes requirements, provider list, approval process, and more. </li>
            <li>CE Request for Approval Form                                                                        </li>
            <li>Guidance Statement 2014-1: Continuing Education Policy and Procedures                               </li>
            <li>Workshop evaluation form  -- Download, complete, save, and then email to Robert L. Gibson.          </li>
            <li>ABLE (Alternative Basic Library Education)                                                          </li>
            <li>SABLE (Supplemental Alternative Basic Library Education)                                            </li>
            <li>Archived Webinars - PDFs and Multimedia Recordings                                                  </li>
        </ul>
    </p>
</div>

