@{
    ViewData["Title"] = "Databases and Resources";
}
@await Component.InvokeAsync("ServicesNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
   <p>The Library subscribes to a number of databases and other eresources to assist in research and recreational needs.  Click on the databases link for more information.</p>
</div>

