@{
    ViewData["Title"] = "WVLC Survey";
}
@await Component.InvokeAsync("ServicesNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <div>
        <strong>Computers and Internet</strong>

        <p>
            Desktop computers, with high speed internet, are available for your use. 
            The computers include Microsoft Office for word processing, spreadsheets, and database creation. 
            Use your Library Commission library card and password to logon to library computers.
        </p>

        <strong>WiFi</strong>

        <p>
            WiFi is available in the State Library Services Library for those who want to use their own laptop computers,
            tablets, or other personal computing device. Ask at the Reference Desk for a username and password to access the WiFi.
        </p>

        <strong>Printing and Copying </strong>

        <p> Computer prints are free but limited to 25-pages per week. Additional printing is considered on a case-by-case basis. Photocopies are free.</p>          
    </div>
</div>

