@{
    ViewData["Title"] = "Services";
}

@await Component.InvokeAsync("ServicesNavbar")

<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <p class="color_white">Check our Services</p>
</div>