@{
    ViewData["Title"] = "Letters about Literature";
}
@await Component.InvokeAsync("ServicesNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
        <p>
            Letters about Literature (LAL) is a national reading and writing promotion program for young readers 
            sponsored by the Center for the Book in the Library of Congress and presented in partnership with participating affiliate state centers for the book/
        </p>
</div>

