@{
    ViewData["Title"] = "Research Tools";
}
@await Component.InvokeAsync("ServicesNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <div>
        <strong>eJournals, eBooks, and Databases</strong>

        <p>
            The State Library Services Library provides access to print and electronic journals and a growing collection of e-books. E-journals and ebooks are listed in the online catalog
            and also in a searchable web page which provides live links to the online content. More 30 research databases, covering all subject disciplines, are available from the web site.
        </p>

        <strong> Access to E-Resources</strong>

        <p>
            E-journals, eBooks, and databases are available via the library web site from any location. You will be prompted to enter your Library Commission library card number to access the resources.
        </p>

        <strong>Online Library Catalog</strong>

        <p>
            The online library catalog provides information about e-journals, e-books, 
            print books, print journals, microform, government documents, and other types of research materials owned by the library.
        </p>
    </div>
</div>

