@{
    ViewData["Title"] = "Reach Assistance";
}
@await Component.InvokeAsync("ServicesNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <div>
        <strong>Ask a Librarian</strong>

        <p>
            If you have questions about the library, librarians are happy to help you. You can Ask a Librarian by visiting in person or phoning the reference desk for personal assistance. You may also contact us by instant message chat through our website. Look for the “Ask Us” logo. Our newest service is “Text a Librarian.” Text your questions to (304) 924-2058.
        </p>

        <strong> Borrowing and Renewing</strong>

        <p>
            At the State Library Services Library, the loan period for most material is 28-days. Materials may be renewed online through the online catalog, by telephone, or in-person.
            <span class="green_text">Interlibrary Loan (ILLiad)</span>


            The Library Commission State Library Services Library handles interlibrary loan requests for state employees only.
            Citizens are asked to visit their local public library for this service. Use the library locator map to find the closest public library.
            State Library Services has reciprocal agreements with many other libraries. To request items from other libraries, use ILLiad.
            This service can be used for book and articles requests. Books are usually received in 4-7 days and articles, delivered electronically to the users’ ILLiad account, usually take 1-5 days.
        </p>

        <strong>Courier Delivery</strong>

        <p> State employees on the state Capitol Complex may may request items delivered to their offices. Use the courier delivery form form to request these items.</p>

        <strong>Library Cards</strong>

        <p>
            Anyone in the state can get a library card with the Library Commission by completing the form or emailing your name, address,
            and phone number to wvlcref@wv.gov. You will receive your card in 4 to 7 business days by mail.
        </p>
    </div>
</div>

