@{
    ViewData["Title"] = "Special Services Library for the Blind and Physically Handicapped";
}
@await Component.InvokeAsync("ServicesNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
   <p> If you or someone you know are unable to use standard printed materials due to an impairment.
        This impairment can be visual, physical, or a documented reading disability, please complete the application form. Print it and send the completed form to:
    <br />
       <ul>
           <li> West Virginia Library Commission</li>
           <li> ATTN: Special Services Library  </li>
           <li> 1900 Kanawha Blvd. E.           </li>
           <li> Charleston, WV 25305            </li>
       </ul>
    </p>
    <p>
        A list of eligible professionals who may certify the application is provided. 
        Please keep in mind that it is a federal requirement that all individuals with a reading disability have their application signed by a Doctor of Medicine or Osteopathy.
    </p>
    <ul>
        <li>Download Application (Formatted Text)</li>
        <li>Download Application (Publisher)     </li>
        <li>Ask A Librarian                      </li>
    </ul>
</div>

