@{
    ViewData["Title"] = "Support";
}
@await Component.InvokeAsync("ServicesNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
        <p>
            West Virginia Center for the Book was established in 2001 as an affiliate of the Center for the Book at the Library of Congress.  Its mission is to promote and celebrate the State's rich literary heritage.
            <br />
            The West Virginia Center for the Book brings the national Center’s message of the importance of books and reading to audiences statewide.
            The center actively works within West Virginia to highlight the unique literary heritage that abounds from the earliest story tellers to the recent novelists, 
            the center celebrates all West Virginia writers and place related books. West Virginia Center for the Book sponsors book festivals, author readings and other events that celebrate books and libraries.
        </p>
</div>

