@{
    ViewData["Title"] = "WVLC Survey";
}
@await Component.InvokeAsync("ServicesNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <p>
        The West Virginia Library Commission (WVLC) is in the process of conducting a
        five-year evaluation of its implementation of the Library Services and Technology Act’s “Grants to States” program.  This assessment of the program is required by the Institute of Museum and Library Services (IMLS) in fulfillment of requirements under the Museum and Library Services Act.
        <br />
        WVLC is working with QualityMetrics, a library consulting firm, to conduct our evaluation. 
        One of the methods that QualityMetrics is using to collect information from libraries throughout the state is a web-based survey.
        The survey will take you approximately 25 minutes to complete; however you can start the survey, and return to it at a later date if you don’t complete it in one sitting.
        PLEASE help us by taking some time from your busy schedule to express your opinions and to share your ideas.
        Click on the following link to go to the survey.

    </p>
</div>

