@{
    ViewData["Title"] = "Laws and Regulations";
}
@await Component.InvokeAsync("AboutNavbar")


<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <p>
        To post a job to the Library Commission's job opportunities page, contact stan.b.howell@wv.gov.  The Library Commission only posts jobs related to library services.  Postings will remain on the site until the closing date or 60 days from the date posted unless otherwise noted.
        <br />
        To find other job opportunities visit the West Virginia Division of Personnel and American Library Association JobLIST.
    </p>
</div>

