@{
    ViewData["Title"] = "Staff Directory";
}

@await Component.InvokeAsync("AboutNavbar")

<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <strong>Administrative Services</strong>
    <p>
        Phone: 304-558-2041
        Fax:  304-558-2044
        Toll Free Option 1
    </p>
    <div class="panel panel-default">
        <div class="panel-heading">Panel heading</div>

        <!-- Table -->
        <table class="table table-striped">
            <tr>
                
            </tr>
        </table>
    </div>

</div>