@{
    ViewData["Title"] = "Website Policies";
}
@await Component.InvokeAsync("AboutNavbar")

<div class="div_wrapper color_white">
    <h2>@ViewData["Title"]</h2>
    <h3>Abstract</h3>
    <strong>Accessibility Statement</strong>
    <p>
        The West Virginia Library Commission (WVLC) is committed to making its website accessible to all users. WVLC will make all reasonable efforts to accommodate website customers 
        using enabling software or assistive devices.
        WVLC welcomes comments on how to improve the site's accessibility for users with disabilities.
        To meet this commitment, WVLC complies with the requirements of Section 508 of the Rehabilitation Act of 1973, as amended. 
        Section 508 establishes guidelines for developing and maintaining accessible information technology. Section 508 was enacted to eliminate barriers in information technology, 
        to make available new opportunities for people with disabilities, and to encourage development of technologies that help achieve these goals. To ensure that WVLC meets or exceeds the
        requirements of Section 508, WVLC continually reviews this site and modifies its pages to remove accessibility barriers for people with disabilities.
        In addition, WVLC follows the accessibility standards of the State of West Virginia.
        The WVLC website contains documents in Adobe Acrobat PDF (Portable Document Format) format. A free Adobe Acrobat Reader is available for download.
        At times, screen-reading devices cannot read PDF files. When this happens, please inform us and we will provide the information to you in another format.
        Customers using assistive technology, such as Braille readers or screen readers, who encounter difficulties accessing the WVLC website should email WVLC.
        Please indicate the nature of the accessibility problem, the preferred format for receipt of the material, the web address of the requested material, and personal contact information.
    </p>
</div>