@model IEnumerable<EFGetStarted.AspNetCore.NewDb.Models.Blog>

@{
    ViewBag.Title = "Blogs";
}

    <h2 class="color_white">Blogs</h2>

    <p>
        <a asp-controller="Blogs" asp-action="Create" style="font-size:20px;color:lightblue;">Create New</a>
    </p>

    <table class="table color_white">
        <tr>
            <th>Id</th>
            <th>Url</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BlogId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>              
            </tr>
        }
    </table>

