<div class="div_wrapper color_white">
    <div class="home_sub2navbar">
        <ul>
            <li><a asp-area="" asp-controller="Students" asp-action="Index" class="color_white">Students</a></li>
            <li><a asp-area="" asp-controller="Courses" asp-action="Index" class="color_white">Courses</a></li>
            <li><a asp-area="" asp-controller="Instructors" asp-action="Index" class="color_white">Instructors</a></li>
            <li><a asp-area="" asp-controller="Departments" asp-action="Index" class="color_white">Departments</a></li>
        </ul>
    </div>
</div>