<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="row collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="col-md-2">
                    <a asp-controller="About" asp-action="MissionandStrategicPlan" role="button" aria-haspopup="true" aria-expanded="false">Mission and Strategic Plan</a>
                </li>
                <li class="col-md-2">
                    <a asp-controller="About" asp-action="LawsandRegulations" role="button" aria-haspopup="true" aria-expanded="false">Laws and Regulations</a>
                </li>
                <li class="col-md-2">
                    <a asp-controller="About" asp-action="Commissioners" role="button" aria-haspopup="true" aria-expanded="false">Commissioners</a>
                </li>
                <li class="col-md-2">
                    <a asp-controller="About" asp-action="StaffDirectory" role="button" aria-haspopup="true" aria-expanded="false">Staff Directory</a>
                </li>
                <li class="col-md-2">
                    <a asp-controller="About" asp-action="EmploymentOpportunities" aria-haspopup="true" aria-expanded="false">Employment Opportunities</a>
                </li>
                <li class="col-md-2">
                    <a asp-controller="About" asp-action="WebsitePolicies" role="button" aria-haspopup="true" aria-expanded="false">Website Policies</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>